<h1>Welcome to Explore Ruby on Rails</h1>
<p>This is the start point! <%= Time.now %></p>
<%= image_tag("market.jpg", class: "img-responsive") %>
<%# test_variable = 42 %>
<%#= test_variable %>
<%#= test_variable - 2 %>
