<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    

  </head>

  <body>
  	<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">oledino</a>
        </div>
        <ul class="nav navbar-nav collapse navbar-collapse navbar-right">
          <li><a href="#">About</a></li> 
          <li><a href="#">Projects</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </nav>


    <%= yield %>

    <footer>
      <div class= 'copyright'>
        <a href="#">&copy; OLEDINO. INC, 2017
        </a>
      </div>
      <div class ='media'>
        <a class="btn btn-social-icon btn-facebook">
          <span class="fa fa-facebook"></span>
        </a>
        
        <a class="btn btn-social-icon btn-twitter">
          <span class="fa fa-twitter"></span>
        </a>

        <a class="btn btn-social-icon btn-pinterest">
          <span class="fa fa-pinterest"></span>
        </a>
        
        <a class="btn btn-social-icon btn-tumblr">
          <span class="fa fa-tumblr"></span>
        </a>

        <a class="btn btn-social-icon btn-linkedin">
          <span class="fa fa-linkedin"></span>
        </a>
      </div>
    </footer>

  </body>
</html>
